body {
    font-family: 'Oxygen';
    max-width: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    text-rendering: geometricPrecision;
    font-smooth: always;
    font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: subpixel-antialiased;
}

a {
    text-decoration: none;
    color: inherit;
}

#menu {
    top: 20px;
    left: 0;
    right: 0;
    position: absolute;
    margin: 0 auto;
    text-align: center;
    -webkit-animation: fadein 4s;
    -moz-animation: fadein 4s;
    -ms-animation: fadein 4s;
    -o-animation: fadein 4s;
    animation: fadein 4s;
    list-style-type: none;
}

#menu li {
    display: inline-block;
    font-size: 1.3em;
    color: #000;
    margin: 5px 15px 10px;
    border: 1px solid #d0d0d0;
/*    border-radius: 10px;*/
    padding: 7px 15px;
}

li:hover {
    cursor: pointer;
}

#center {
    width: 100%;
    height: 200px;
    text-align: center;
    margin-top: 14em;
    border: 0;
}

#me_img {
    margin-top: 0;
    margin-bottom: 0;
    height: 10em;
    width: 10em;
    display: inline-block;
    border: 3px solid #fff;
    border-radius: 50%;
    margin-right: 30px;
    box-shadow: 0 0 2px #000;
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    -ms-animation: fadein 2s;
    -o-animation: fadein 2s;
    animation: fadein 2s;
}

h1 {
    font-size: 6em;
    margin-top: 0;
    margin-bottom: 0;
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    -ms-animation: fadein 2s;
    -o-animation: fadein 2s;
    animation: fadein 2s;
    display: inline-block;
    text-shadow: 0 0 1px #000;
    font-family: Raleway;
    font-weight: 300;
}

table {
    vertical-align: middle;
    white-space: normal;
    line-height: normal;
    font-weight: 400;
    font-size: medium;
    font-variant: normal;
    font-style: normal;
    border-collapse: collapse;
    margin-top: -30px;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
    font-size: 2.7em;
    text-shadow: 0 0 1px #000;
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    -ms-animation: fadein 2s;
    -o-animation: fadein 2s;
    animation: fadein 2s;
    text-align: left;
}

.clickable {
    background-image: url(../img/arrow_down1.png);
    height: 80px;
    width: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    margin: auto;
    -webkit-transition: opacity .3s 0s,visibility 0 .3s;
    -moz-transition: opacity .3s 0s,visibility 0 .3s;
    transition: opacity .3s 0s,visibility 0 .3s;
    margin-top: 8%;
}

.clickable:hover {
    cursor: pointer;
    -webkit-transition: margin .2s ease-out;
    -moz-transition: margin .2s ease-out;
    -o-transition: margin .2s ease-out;
    transition: margin .2s ease-out;
}

.clickable a {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
}

.clickable a p {
    display: none;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

li:hover {
    cursor: pointer;
}

.page {
    width: 96%;
    z-index: 11;
    padding-top: -10px;
    height: 105%;
    overflow-y: hidden;
    max-height: 105%;
    display: block;
    padding: 15px;
    margin-bottom: 12%;
    transition-property: opacity;
	transition-duration: 0.5s;
	transition-timing-function: linear;
}

.page p {
    margin-bottom: 10px;
    opacity: 1;
    margin-left: 7%;
    margin-right: 7%;
    font-size: 1.6em;
}

.examples {
    padding: 15px;
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

.examples p {
    display: inline-block;
    padding: 15px;
    margin-left: 5px;
    margin-top: -10px;
    margin-right: 5px;
    margin-bottom: 20px;
    font-size: 1.6em;
    border: 1px solid #d0d0d0;
/*    border-radius: 10px;*/
}

.button{
    background-color: transparent;
    padding: 10px;
/*    border-radius: 10px;*/
    border: 1px solid #d0d0d0;
    font-size: 1.1em;
    margin-top: 8%;
    padding: 5px 25px 5px 20px;
    
}

#post:hover {
    color: #ff1a29;
}

#post {
    font-size: 1.9em;
    transition-property: all;
	transition-duration: 0.5s;
	transition-timing-function: linear;
}
    

.button:hover {
    cursor: pointer;
}

.myproj table {
    margin-top: 5%;
    max-width: 100%;
    width: auto;
}

.myproj #picture img {
    max-width: 100%;
    margin: auto;
    width: auto;
    display: block;
}


#picture img{
    width: 400px;
    height: 400px;
    margin-left: 0;
}

.skills thead th {
    font-size: 3em;
    padding-bottom: 0.7em;
    font-family: Raleway;
    font-weight: bold;
}

#detail {
    width: 30%;
}

#projtitle {
    font-size: 3em;
}

#projdetails {
    font-size: 1.5em;
}

.clickable_reverse {
    background-image: url(../img/arrow_up.png);
    height: 80px;
    width: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    margin: auto;
    -webkit-transition: opacity .3s 0s,visibility 0 .3s;
    -moz-transition: opacity .3s 0s,visibility 0 .3s;
    transition: opacity .3s 0s,visibility 0 .3s;
    margin-top: -50px;
}

.clickable_reverse:hover {
    cursor: pointer;
    -webkit-transition: margin .2s ease-out;
    -moz-transition: margin .2s ease-out;
    -o-transition: margin .2s ease-out;
    transition: margin .2s ease-out;
}

.clickable_reverse a {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
}

.clickable_reverse a p {
    display: none;
}

#wrapper {
    float: none;
    width: 60%;
    height: 50%;
    margin: 0 auto;
    padding: 20px;
}

#col2 #mailwrap {
    border-right: 1px solid #ccc;
    padding: 0 20px;
    z-index: 99;
}

textarea#message {
    margin-bottom: 3em;
    width: 100%;
    background: url('../img/dots.png') repeat top;
    min-height: 100%;
    line-height: 21px;
    color: #666;
    overflow-y: hidden;
    resize: none;
    font-style: italic;
    font-weight: 500;
    outline: none;
    border: 0;
    padding: 0;
    font-family: 'Josefin Sans';
}

#email, #name{
    height: 22px;
    width: 100%;
    background: url('../img/dots.png') repeat top;
    min-height: 100%;
    line-height: 21px;
    color: #666;
    overflow-y: hidden;
    -webkit-appearance: none;
    font-style: italic;
    font-family: 'Josefin Sans';
    font-weight: 500;
    outline: none;
    border: 0;
    padding: 0;
}

#col2 {
    width: 50%;
    float: left;
}

#stamp {
    float: right;
    margin: -20px 20px 0 0;
    height: 124px;
    width: 86px;
    border: #ccc solid 1px;
    z-index: 2;
}

.inner {
    padding: 0 0 0 80px;
}

.inner h3 {
    margin-top: 50px;
    font-size: 1.4em;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.5em;
    margin-bottom: 1.5em;
}

.inner p {
    margin-bottom: 1.5em;
    line-height: 1.5em;
    font-size: 1em;
    transition-property: all;
	transition-duration: 0.5s;
	transition-timing-function: linear;
}

.inner p:hover {
    color: #ff1a29;
}

.icon {
    margin-left: -20px;
}

#post {
    margin-left: 37%;
}

#contacttitle {
    text-align: center;
    font-size: 3em;
    font-family: Raleway;
    font-weight: bold;
}

.contact {
    height: 80%;
    margin-top: -40px;
}

.buttons {
    display: block;
    margin-left: 70%;
    margin-top: -70px;
}
.links {
    list-style: none;
    width: 100%;
    padding-left: 12px;
}

.links li {
    font-size: 1.1em;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    transition-property: all;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

.links li:hover {
    color: #ff1a29;
}
.divider {
    height: 1px;
    display: block;
}

.line {
    background: #ff1a29;
    width: 128px;
    margin: 1.5em auto;
}

textarea:focus::-webkit-input-placeholder {
    color: transparent;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
    
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
}
