body {
    @include container;
}


.content {
    padding-top: 0;
    position: relative;
    z-index: 1;

    &:after {
        z-index: -1;
        content: "";
        display: block;
        width: 100%;
        height: 5em;
        position: absolute;
        top: -2em;
        left: 0;
    }
}

.container {
    @include container(800px);
    padding: 0;
}
