<div class="author-bio">
    <div class="row1">
        <section class="author">
                <img src="/img/Jerry.jpg" class="author-avatar" alt="{{ site.owner.name }}'s photo">
                <div class="info">
                    <span class="author-label">Author</span>
                    <h1>{{ site.owner.name }}</h1>
                    <p><a href="mailto:{{ site.owner.email }}" class="author-website">{{ site.owner.email }}</a></p>
                    <p>{{ site.owner.description }}</p>
                </div>
                <div class="clearfix"></div>
        </section>
    </div>
</div>