<div class="footer">
    <div class="wrap">
        <p class="copyright">
            Content ©2016 Yash Agarwal. Subscribe via <a href="../feed.xml">RSS</a>. Find me on <a href="https://twitter.com/theyashagarwal" target="_blank">Twitter</a>.
        </p>
        <p>
            Hosted on <a href="https://pages.gitlab.io/" target="_blank">GitLab Pages</a>. Design and code are open source: <a href="https://github.com/yash2696/yash2696.github.io" target="_blank">fork me</a>, or <a href="https://github.com/yash2696/yash2696.github.io/issues/new" target="_blank">open an issue</a>.
        </p>
    </div>
</div>
