<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<link rel="alternate" type="application/atom+xml" href="atom.xml" title="Atom feed">
<link rel="shortcut icon" type="image/jpg" href="/img/yash.jpg" />
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<script type="text/javascript">
    var host = "theyashagarwal.me";
    if ((host == window.location.host) && (window.location.protocol != "https:"))
        window.location.protocol = "https";
</script>
<meta name="author" content="">
<title>
    {% if page.title %}
        {{ page.title }}
    {% else %}
        Default Page Title
    {% endif %}
</title>
<!-- Custom Fonts -->
<link href='https://fonts.googleapis.com/css?family=Raleway:200|Oxygen|Montserrat|Open+Sans:500|Cabin|Droid+Sans+Mono' rel='stylesheet' type='text/css'>
<link href="https://file.myfontastic.com/dSdPJGEFUgx3CBxPv3Buyi/icons.css" rel="stylesheet">
<link rel="stylesheet" href="{{ site.baseurl }}css/blog.css" type="text/css">
