/***************
COLOR VARIABLES
***************/

// Color variables
$primary-color: #268bd2;
$text-color: #000;
$link-color: #e50053;
$link-hover: darken($link-color, 5%);
$background-color: #fdfdfd;
$blockquote-bg: rgba(128,128,128,0.05);
$blockquote-border: rgba(128,128,128,0.075);
$code-bg: #eef;
$code-color: #3f3f3f;
$large-color: $link-hover;
$category-text: #333;
$category-bg: #f4f0ed;
$archive-date: #a29f9c;

/***************
CONSISTENT SETTINGS
***************/

$br: 5px; // Border-radius
$btn-br: 5px; // Button border-radius
$padding: 40px; // Padding and margins
$line-height: 44px; // Consistent height for buttons, inputs etc.


/***************
TYPE SETTINGS
***************/

$dates: "Montserrat";
$sans-serif: "Open Sans", Helvetica, Arial, sans-serif;
$serif: "Sorts Mill Goudy", serif;
$codes: "Source Code Pro"
