<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
</head>
<body>
    <div class="header">
        <h3 class="navbar">
            <a onclick="window.history.back()" style="cursor: pointer;">Back</a>
            {% for page in site.pages_list %}
              &nbsp;&nbsp;&nbsp;
              <a href="{{ page[1] }}">{{ page[0] }}</a>
            {% endfor %}
        </h3>
        <h1 class="name"><a href="/blog/index.html">Yash's Blog</a></h1>
        <ul class="social">
            <li><a href="https://www.quora.com/profile/Yash-Agarwal-140" target="_blank"><span class="icon-quora"></span></a></li>
            <li><a href="https://www.facebook.com/people/Yash-Agarwal/100001324105675" target="_blank"><span class="icon-facebook"></span></a></li>
            <li><a href="https://plus.google.com/+yashagarwal02" target="_blank"><span class="icon-google-plus"></span></a></li>
            <li><a href="https://github.com/yash2696" target="_blank"><span class="icon-github"></span></a></li>
            <li><a href="https://in.linkedin.com/in/theyashagarwal" target="_blank"><span class="icon-linkedin"></span></a></li>
            <li><a href="https://twitter.com/theyashagarwal" target="_blank"><span class="icon-twitter"></span></a></li>
            <li><a href="https://instagram.com/yum_yash" target="_blank"><span class="icon-instagram"></span></a></li>
        </ul>
    </div>

    <div class="divider"></div>

{{ content }}
<!-- jQuery -->
    {% include google_analytics.html %}
    <script src="/js/jquery-2.1.1.js"></script>
</body>
</html>
